# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\CS-194-26-Proj3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
